.album-card {
  @apply relative w-1/2 bg-black text-gray text-center overflow-hidden px-4 pb-4;

  @screen sm {
    @apply w-1/3;
  }

  @screen md {
    @apply w-1/2;
  }

  @screen lg {
    @apply w-1/3;
  }

  @screen xl {
    @apply w-1/3;
  }
}

.album-card__inner {
  @apply w-full bg-black-dark rounded-lg border border-black-dark shadow-xl p-4;
}

.album-card__glow {
  @apply absolute;
  top: 16%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

.album-card__body {
  @apply flex flex-col px-2 pb-12;
  z-index: 99;
}

.album-card__img-wrap {
  @apply relative px-6 mx-auto;
}

.album-card__img {
  @apply h-auto rounded-full;
}

.album-card__artisit-name {
  @apply text-white text-sm font-extrabold tracking-wide leading-6 pt-6;
}

.album-card__album-title {
  @apply text-sm font-bold tracking-wide leading-6 pt-1;
}

.album-card__meta {
  @apply flex-grow text-xs font-bold tracking-wider pt-4;
}
